@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Login_and_Get_inPutFile_2.ps.PersonViewModel;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@p Enumerable<Person> Peaple;
<h1>Register Page</h1>




<hr />
<h1>Peaple Table</h1>

<table class="table table-striped table-bordered">
    <thead>
    <td>Fullname</td>
    <td>Email</td>
    <td>Age</td>
    <td>City Burn</td>
    <td>About Self</td>
    <td>Mobile</td>
    <td>Password</td>
    <td>Image</td>
    </thead>
    <tbody>
        @foreach(Person p in Peaple)
        {
            <tr>
            <td>@Modle.FullName</td>
            <td>@p.Email</td>
            <td>@p.Age</td>
            <td>@p.CityBurn</td>
            <td>@p.Aboutself</td>
            <td>@p.Mobile</td>
            <td>@p.Password</td>
            <td><img class="img-circle" <img src="data:Image/png;Base64,@p.ImageName" style="width:50px;height:50px;border-radius:5px;" /> /></td>
        </tr>
        }
        
    </tbody>
</table>

